:root {
	--color-nombre: #3d0855c4;
	--color-profesion: #414141;
	--color-frase: #5e582ad2;
	--font-nombre: 'Indie Flower', cursive;
	--font-profesion: 'Edu NSW ACT Foundation', cursive;
	--font-frase: 'Dancing Script', cursive;
}
.slide-about {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	color: #fff;
    background: #6060bac8;
	background: linear-gradient(180deg, #6060bac8 0% #35335f 62%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-margin-top: 3rem;
}

.about-me {
    /* border: .1rem solid #643b80a2; */
    border-radius: 10%;
	padding: 2.5rem;
	margin: 0 auto;
	max-width: 800px;
}

.about{
    font-family: var(--font-frase);
    text-align: center;
}

.me{
    font-family: var(--font-profesion);
    text-align: left;
    font-size: 1.2rem;
    color: #4b4545;
}

.about-me img {
    border-radius: 50%;
    /* border: 1px dotted #643b80a2; */
	width: 300px;
	height: 300px;
	object-fit: cover;
	/* object-position: 0 10% */;
}

.float-right {
	float: right;
}

.shape-1 {
	margin: 1rem 2rem 4rem 0;
	shape-outside: circle();
}
