:root{
    --home-nombre: #db820cc4;
}
.slide-home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: #9b1717;
    background-image: url(../img/background.webp);
    background-size:contain ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 3rem;
}

.home-foto-perfil{
    border:1px dotted #643b80a2;
    border-radius: 50%;
}

.home-nombre{
    color: var(--home-nombre);
}