.home{
    width: 100%;
    height: 100%;
    padding: rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px dotted rgba(37, 37, 37, 0.699);
}

.home-foto-perfil{
    border-radius: 50%;
}