:root {
	--color-nombre: #af2eebc4;
	--color-profesion: #6d6d6d;
	--color-frase: #adacacd2;
	--font-nombre: 'Indie Flower', cursive;
	--font-profesion: 'Edu NSW ACT Foundation', cursive;
	--font-frase: 'Dancing Script', cursive;
}
.slide-home {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	color: #9b1717;
	background: #4a4787;
	background: linear-gradient(
		180deg,
		#35335f 0%,
		#6060bac8 62%
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	scroll-margin-top: 3rem;
}

.home-foto-perfil {
	width: 30rem;
	border: 1px dotted #643b80a2;
	border-radius: 50%;
}

.home-nombre {
	font-family: var(--font-frase);
	font-style: oblique;
	font-size: 3rem;
	color: var(--color-nombre);
}

.home-profesion {
	font-family: var(--font-profesion);
	font-size: 1.5rem;
	color: var(--color-profesion);
}

.home-frase-pele {
	font-family: var(--font-profesion);
	font-style: oblique;
	font-size: 1.2rem;
	color: var(--color-frase);
}

.home-pele {
	font-family: var(--font-profesion);
	font-style: oblique;
	font-size: 0.85rem;
	color: var(--color-frase);
	text-align: left;
}
