
:root{
    --color-nombre: #af2eebc4;
    --color-profesion: #54eb2ec4;
    --color-frase: #807e7ec4;
    --font-nombre: 'Indie Flower', cursive;
    --font-profesion: 'Edu NSW ACT Foundation', cursive;
    --font-frase: 'Dancing Script', cursive;
}
.slide-home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: #9b1717;
    background-image: url(../img/background.webp);
    background-size:contain ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 3rem;
}

.home-foto-perfil{
    width: 30rem;
    border:1px dotted #643b80a2;
    border-radius: 50%;
}

.home-nombre{
    font-family: var(--font-frase);
    font-style: oblique;
    font-size: 3rem;
    color: var(--color-nombre);
}

.home-profesion{
    font-family: var(--font-profesion);
    font-style: oblique;
    font-size: 1rem;
    color: var(--color-profesion);
}

.home-frase-pele{
    font-family: var(--font-frase);
    font-style: oblique;
    font-size: 1rem;
    color: var(--color-frase);
}

.home-pele{
    font-family: var(--font-nombre);
    font-style: oblique;
    font-size: .5rem;
    color: var(--color-frase);
    text-align: left;
}