/* Tank you Paul Irish*/
html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16x;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/*# Scrollbar */
/* 
::-webkit-scrollbar {
	width: 0px;
} 
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: #ffffff;
}
 */

/*# Fuentes importadas
! importar las fuentes desde el html para cargar mas rapido
? @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Permanent+Marker&family=Shantell+Sans:ital,wght@1,800&display=swap');
 */

/*# Variables de colores y fuente */
:root {
	--bg-nav: #33305c;
	--background: #4a4787;
	--background-gradiente: linear-gradient(180deg, #33305f 0%, #6060bac8 100%);
	--letras: #ffffffbb;
	--home-nombre: #db820cc4;
}

body, h1, h2{
    margin:0;    
}

img{
    max-width: 50%;
    height: auto;
}

.header {
    position: sticky;
    top:0;
    padding: 0.25rem;
    text-align: center;
    background-color:var(--bg-nav);
    color:var(--letras)
}

header a {
    margin: 0 1rem;
    color: var(--letras);
    
}

header a:hover {
    color: var(--home-nombre);
    
}

.slide{
    width: 100%;
    min-height: 100vh;
    color: #352e2e;
    background-color: #4a4787;
}

.slide:nth-child(even){
    
}