/* Tank you Paul Irish*/
html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16x;
    scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/*# Scrollbar */
::-webkit-scrollbar {
    width: 0px;
} 
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
}
/* 
 */

/*# Fuentes importadas
! importar las fuentes desde el html para cargar mas rapido
? @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Permanent+Marker&family=Shantell+Sans:ital,wght@1,800&display=swap');
 */

/*# Variables de colores y fuente */
:root {
	--bg-nav: #201e33;
	--background: #4a4787;
	--background-gradiente: linear-gradient(180deg, #33305f 0%, #6060bac8 100%);
	--letras: #ffffffbb;
	--home-nombre: #db820cc4;
}

body, h1, h2{
    margin:0;    
}

img{
    max-width: 50%;
    height: auto;
}

[id]{
    scroll-margin-top: 8ex;
}

.header {
    height: 3rem;
    position: sticky;
    top:0;
    padding: 0.25rem;
    background-color:var(--bg-nav);
    color:var(--letras);
    display: flex;
    justify-content: center;
    align-items: center;

}

header a {
    margin: 0 1rem;
    color: var(--letras);
    
}

header a:hover {
    color: var(--home-nombre);
    
}

.slide{
    border:2px dotted #252525b2;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: #9b1717;
    padding-top: 0;
    padding: 2rem;
    scroll-margin-top: 3rem;
    background-color: #4a4787;
}

.slide:nth-child(even){
    background-color: #847eee;
}