html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color:blanchedalmond;
  margin: 0;
  display: block;
}
.titulo {
        font-family: 'Tangerine', serif;
        font-size: 100px;
        text-shadow: 4px 4px 4px #aaa;
}
.intro {
  font-family: 'BIZ UDMincho', serif;
  font-size: 20px;
}
.frame {
  background: transparent; 
  border: 0px solid #ccc;
  width:900px; 
  height:450px
}