@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Tangerine&display=swap');

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color:blanchedalmond;
  margin: 50px;
  display: block;
  width:1250px; /*Ancho*/
  height: 400px /* Alto*/
}
.titulo {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Tangerine', cursive;
  font-size: 100px;
  text-shadow: 4px 4px 4px #aaa;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  font-family: 'BIZ UDMincho', serif;
  font-size: 20px;
}
.frame {
  background:#aaa; 
  margin: 100px;
  border: 0px solid #ccc;
  width:800px; /*Ancho*/
  height: 400px /* Alto*/
}
.questions{
        font-family: 'Tangerine', cursive;
        font-size: 10px;
        text-shadow: 4px 4px 4px #aaa;
}