html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color:blanchedalmond;
  margin: 50px;
  display: block;
}
.titulo {
        font-family: 'Tangerine', serif;
        font-size: 100px;
        text-shadow: 4px 4px 4px #aaa;
}
.intro {
  font-family: 'BIZ UDMincho', serif;
  font-size: 20px;
}
.frame {
  background:#aaa; 
  margin: 100px;
  border: 0px solid #ccc;
  width:900px; /*Ancho*/
  height: 450px /* Alto*/
}
.questions{
        font-family: 'Tangerine', serif;
        font-size: 10px;
        text-shadow: 4px 4px 4px #aaa;
}