/*$ Reseteo de Paul Irish*/
html {margin: 0; padding: 0; box-sizing: border-box; font-size: 16px;}
*,*::after,*::before {box-sizing: inherit}

/*$ Elimina ScroolBar Lateral */
::-webkit-scrollbar {width: 0px}
::-webkit-scrollbar-track {background: #fff}
::-webkit-scrollbar-thumb {background: #fff}

body{
    background-image:url(./assets/incio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.hero-image {
	background-image: var(--hero-image);
	background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--hero-opacity-color);
}

