.name{
	color: #db810cf1;
	font-size: 18px;
}
.profesion{
	margin:10px;
	font-family: var(--frase-pele);
	font-size:large;
	color: var(--home-nombre);
}

.presentacion {
	font-family: var(--frase-pele);
	font-size:large;
	color: var(--home-frase-pele);
	text-align:justify;
}