.container-home,.container-about,.container-portfolio,.container-contact {
	background: var(--background);
background: var(--background-gradiente);
	/* background: url(../img/background1.jpg)no-repeat center center fixed;
	opacity: 0.85; */
	background-size: cover;
	margin: 0px;  
	padding: 0px;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}
.card {
	border: 5px solid #ffffff00;
	width: 765px;
	height: 650px;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.foto-perfil {
	width: 14rem;
	height: 14rem;
	border-radius: 100%;
	overflow: hidden;
}

.foto {
	width: 100%;
	height: auto;
}