.titulo {
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Tangerine', cursive;
  font-size: 50px;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  font-family: 'BIZ UDMincho', serif;
  font-size: 15px;
  text-align: justify;
}
.questions{
        font-family: 'Tangerine', cursive;
        font-size: 10px;
        text-shadow: 4px 4px 4px #aaa;
}
