/*# Fuentes importadas */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Permanent+Marker&family=Shantell+Sans:ital,wght@1,800&display=swap');

/*# Variables de colores y fuente */
:root {
	--background-nav: #33305c;
	--background: #4a4787;
	--background-gradiente: linear-gradient(180deg, #33305f 0%, #6060bac8 100%);
	--home-frase-pele: #ffffffbb;
	--home-nombre: #db820cc4;
	--nombre: 'Dancing Script', cursive;
	--profesion: 'Shantell Sans', cursive;
	--frase-frase: 'Permanent Marker', cursive;
	--frase-pele: 'Courgette', cursive;
}

/*# Scrollbar */
::-webkit-scrollbar {
	width: 0px;
} /* 
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: #ffffff;
}
 */

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}
