@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Scroll */
::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }



/* SOLARIZED LIGHT */
:root {
  /* Base */
  --background: #f9e6b4; /* base3 */
  --foreground: #657b83; /* base00 */

  /*--muted: #eee8d5;  base2 */
  --muted: #f3df9d; /* base2 */
  --muted-foreground: #586e75; /* base01 */
  --border: #eee8d5;

  /* Colores semánticos */
  --primary: #268bd2; /* blue */
  --primary-foreground: #fdf6e3;

  --secondary: #2aa198; /* cyan */
  --secondary-foreground: #fdf6e3;

  --accent: #859900; /* green */
  --accent-foreground: #fdf6e3;

  /* Texto */
  --title-color: #586e75;
  --text-color: #657b83;
  --link-color: #268bd2;

  /* Paleta Solarized completa */
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;

  /* Compatibilidad con variables antiguas */
  --first-color: #268bd2;
  --second-color: #2aa198;
  --third-color: #859900;

  --gray-light-color: #eee8d5;
  --gray-color: #93a1a1;
  --gray-dark-color: #586e75;

  --button-bg: #002b36;
  --button-text: #839496;
  --button-border: #073642;

  --input-border: #002b36;

  --mobile-header-height: 4rem;
  --section-offset: calc(var(--mobile-header-height)+1px);
}

/* SOLARIZED DARK*/
.dark {
  /* Base */
  --background: #002b36; /* base03 */
  --foreground: #839496; /* base0 */

  --muted: #073642; /* base02 */
  --muted-foreground: #93a1a1; /* base1 */
  --border: #073642;

  /* Colores semánticos */
  --primary: #268bd2;
  --primary-foreground: #fdf6e3;

  --secondary: #2aa198;
  --secondary-foreground: #fdf6e3;

  --accent: #859900;
  --accent-foreground: #fdf6e3;

  /* Texto */
  --title-color: #93a1a1;
  --text-color: #839496;
  --link-color: #268bd2;

  /* Paleta Solarized */
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;

  /* Compatibilidad */
  --first-color: #268bd2;
  --second-color: #2aa198;
  --third-color: #859900;

  --gray-light-color: #073642;
  --gray-color: #839496;
  --gray-dark-color: #93a1a1;

  --input-border: #073642;
}

/* TAILWIND V4 THEME TOKENS*/
@theme {
  --font-gentium: var(--font-gentium);
}

@theme inline {
  --font-serif: var(--font-gentium);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --color-first: var(--first-color);
  --color-second: var(--second-color);
  --color-third: var(--third-color);

  --color-gray-light: var(--gray-light-color);
  --color-gray: var(--gray-color);
  --color-gray-dark: var(--gray-dark-color);

  --color-link: var(--link-color);
  --color-title: var(--title-color);
  --color-text: var(--text-color);

  /* Solarized */
  --color-yellow: var(--yellow);
  --color-orange: var(--orange);
  --color-red: var(--red);
  --color-magenta: var(--magenta);
  --color-violet: var(--violet);
  --color-blue: var(--blue);
  --color-cyan: var(--cyan);
  --color-green: var(--green);


  --color-button-bg: var(--button-bg);
  --color-button-text: var(--button-text);
  --color-button-border: var(--button-border);

  --color-input-border: var(--input-border);
}

/* Base*/
html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-gentium);
}

@layer base {
  h1,
  h2,
  h3{
    margin: 0;
    color: var(--title-color);
    font-family: var(--font-gentium);
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  p {
    @apply text-text leading-relaxed;
  }
}

/* Theme Toggle Efect */

::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="20" cy="20" r="18" fill="white" filter="url(%23blur)"/></svg>') center / 0 no-repeat;
  animation: scale 2.5s;
  animation-fill-mode: both;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation: scale 2.5s;
  animation-fill-mode: both;
}

@keyframes scale {
  to {
    mask-size: 200vmax;
  }
}

