.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 960px; /* Opcional */
	margin: 0 auto; /* Opcional */
}

.card-trabajos {
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 310px;
	height: 250px;
	margin-bottom: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.575);
}

.card-trabajos img {
	width: 310px;
	height: 55rem;
	border-radius: 5%;
	overflow: hidden;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 10px;
}

.card-info h2 {
	margin-bottom: 10px;
	font-size: 1.2rem;
	text-align: center;
}

.card-info p {
	margin-bottom: 10px;
	font-size: 1rem;
	text-align: center;
}

.card-info a {
	color: aqua;
	font-size: 1rem;
	text-align: center;
}