.contact-card {
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	height: 144px;
	background-color: var(--gray-dark-color);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.contact-card > svg {
	width: 2rem;
	height: 2rem;
	fill: var(--first-color);
}

.contact-card > small {
	margin-top: -1rem;
}

/* ********** Contact Form ********** */

.contact-form {
	margin: 2rem auto;
	padding: 1rem;
	max-width: 800px;
}

.contact-form > * {
	padding: 0.5rem;
	margin: 1rem auto;
	display: block;
	width: 100%;
}

.contact-form input,
.contact-form textarea {
	font-size: 0.85rem;
	font-family: var(--font);
}

.contact-form input {
	border: 0;
	padding-left: 0;
	border-bottom: thin solid var(--gray-dark-color);
}

.contact-form textarea {
	border: thin solid var(--gray-dark-color);
	resize: none;
}

.contact-form input[type='submit'] {
	margin-top: 0;
	cursor: pointer;
	transition: all 0.5s ease-out;
}

.contact-form input[type='submit']:hover {
	opacity: 0.75;
}

.contact-form *::placeholder {
	color: var(--gray-dark-color);
}

.contact-form-response {
	padding: 1rem;
	width: 400px;
	text-align: center;
	background-color: var(--white-color);
}
.contact-form-response svg {
	margin-top: 2rem;
	width: 4rem;
	height: 4rem;
	fill: var(--first-color);
}

.modal#gracias:target {
	opacity: 1;
	pointer-events: auto;
}

@media screen and (min-width: 1024px) {
	.contact-form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1rem;
	}

	.contact-form input,
	.contact-form textarea {
		font-size: 1rem;
	}

	.contact-form textarea,
	.contact-form-loader {
		grid-column: span 2;
	}

	.contact-form input[type='submit'] {
		margin-left: 0;
	}
}

/* ********** Modal ********** */
.modal {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--black-alpha-color);
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
}

.modal-content {
	position: relative;
}

.modal-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.modal-close svg {
	width: 3rem;
	height: 3rem;
	fill: var(--first-color);
}

.modal[id|='trabajo']:target {
	opacity: 1;
	pointer-events: auto;
}

@media screen and (min-width: 768px) {
	.contact-cards {
		display: grid;
		grid-template-columns: repeat(2, 48%);
		justify-content: space-between;
	}
}

@media screen and (min-width: 1024px) {
	.contact-cards {
		grid-template-columns: repeat(4, 24%);
	}
}
