.inicio-hero-image {
	background-image: url('/hero-image.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.inicio-hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--black-alpha-color);
}

.inicio-title{
    padding: 2rem 0 0 0;
    font-size: 10vw;
	color: var(--white-color);
}

.inicio-subtitle{
    font-size: 4vw;
	color: var(--white-color);
}


@media screen and (min-width: 1024px) {
	.inicio-content {
		& .inicio-welcome {
			font-size: 3vw;
			color: var(--second-color);
		}
		& .inicio-name {
			font-size: 4vw;
			color: var(--second-color);
		}
		& .inicio-profesion {
			font-size: 2vw;
			color: var(--second-color);
		}
	}
}
