.inicio-hero-image {
	background-image: url('/hero-image.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.inicio-hero-image-opacity {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--black-alpha-color);
    color: var(--white-color);
}

.inicio-title {
	font-size: 10vw;
}

.inicio-subtitle {
	font-size: 4vw;
}


@media screen and (min-width: 768px) {
	.services > .container {
		display: grid;
		grid-template-columns: repeat(2, 45%);
		justify-content: space-between;
		align-content: center;
	}

	.services .section-title {
		grid-column: span 2;
	}
}

@media screen and (min-width: 1024px) {
	.inicio-title {
		font-size: 4vw;
	}

	.inicio-subtitle {
		font-size: 1.5vw;
	}

	.columna {
		flex-basis: 100%;
	}

	.services > .container {
		grid-template-columns: repeat(3, 30%);
	}

	.services .section-title {
		grid-column: span 3;
	}
}
