/*$ style site */

.portfolio-card {
	position: relative;
	width: 100%;
	margin: 0 auto;
	display: block;
}

.imagen {
	object-fit: cover; /*$ No deja que se deforme la imagen*/
}

.portfolio-card-info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: var(--first-alpha-color);
	color: var(--white-color);
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
	opacity: 1;
	pointer-events: auto;
}

.portfolio-card-info > div {
    color: var(--second-color);
	padding: 1rem;
	border: thin solid var(--white-color);
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 768px) {
	.portfolio > .container {
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}

	.portfolio .section-title {
		grid-column: span 2;
	}

	.portfolio-modal {
		max-width: 800px;
		flex-direction: row;
	}

	.portfolio-info {
		margin-left: 1rem;
		align-self: center;
	}
}

@media screen and (min-width: 1024px) {
	.portfolio > .container {
		grid-template-columns: repeat(3, 1fr);
	}

	.portfolio .section-title {
		grid-column: span 3;
	}
}
