@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Permanent+Marker&family=Shantell+Sans:ital,wght@1,800&display=swap');
:root {
	--background-nav: #02779e;
	--background: #02779e;
	--home-frase-pele:#ffffffbb;
	--home-nombre:#db820cc4;
	--nombre:'Dancing Script', cursive;
	--profesion:'Shantell Sans', cursive;
	--frase-frase:'Permanent Marker', cursive;
	--frase-pele:'Courgette', cursive;
}

/* .color1 { #160d18 };
.color2 { #23145b };
.color3 { #09456c };
.color4 { #026f6e };
.color5 { #1ca39e };
 */
/*# Scrollbar */
::-webkit-scrollbar {
	width: 0px;
}/* 
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: #ffffff;
}
 */
* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}
